<p style="text-align:center"><span style="font-size:28px"><strong>Yogstation 13 Server Rules</strong></span></p><br>
<p style="text-align:center"><strong><span style="font-size:20px">Common rules:</span></strong></p><br>
<div style="font-size:14px">
    <strong>
        <span style="color:red">0.0: Don't be a dick.</span> Don't behave in a manner that goes out of its way to deprive the enjoyment of others. These rules are not an exhaustive list. Rules-lawyering is strongly discouraged. If an admin asks you to knock something off, 'well it's not in the rules' is not really an argument.<br><br>
        <span style="color:red">0.1: Don't be a bigot.</span> We expect our players to be tolerant to people who are different from them in some way, and respect their choices. Do not use terminology that is considered bigoted or racist, or is offensive to a large group of people. Usage of the words “nigger”, “faggot”, and derivatives of those are completely banned from the server.<br><br>
        <span style="color:red">0.2: Erotic content is forbidden.</span> As a general rule, anything more sexualized than kissing and hugging is considered erotic. Do not roleplay acts of an erotic nature. Insulting people with erotic or intercourse related terms is fine as long as the insults are not graphic or explained in detail. Do not write, upload, or distribute pornographic literature.<br><br>
        <span style="color:red">0.3: Do not mix IC (in character) and OOC (out of character) knowledge.</span> Do not post information related to a round in progress in the OOC chat. A person reading the OOC chat should not be able to know what's happening in a round, whether anyone is dead, etc. Do not use information your character would have no way of knowing in game. We have a zero-tolerance policy on this, it doesn’t matter how small or insignificant you think it is. Avoid using OOC terminology in character, but if it is necessary, use LOOC. Posting fake IC information in the OOC chat will be classed as breaking this rule.<br><br>
        <span style="color:red">0.4: Do not metacommunicate or multikey</span> You are only allowed to participate on this server on a single BYOND account. Do not try to join with a different account to continue playing. Only use in-game means of communication to discuss in-game events.<br><br>
        <span style="color:red">0.5: Do not spam or advertise.</span><br><br>
        <span style="color:red">0.6: Use proper IC language.</span> We are an English speaking community. Using any language other than English in either IC or OOC will be treated as metacommunications, as our admins cannot translate all languages. Do not use netspeak, emoticons, or internet memes in vocal IC communication.<br><br>
        <span style="color:red">0.7: Listen to admins.</span> All cases are subject to admin discretion. If you cannot be contacted, you may be banned to have you explain your part of the story on the forums. Ignoring admin PMs, lying, insulting admins or other players, or showing a general bad attitude will be counted against you and could lead to a ban.<br><br>
        <span style="color:red">0.8: Do not abuse macros or autoclickers</span> to gain an unfair advantage. Do not abuse bugs.<br><br>
    </strong><br><br>
</div>
<p style="text-align: center"><span style="font-size:20px"><strong>In-game rules:</strong></span></p><br>
<div style="font-size:14px">
    <strong>
        <span style="color:red">1.1: Do not grief.</span> If you are not a round antagonist, do not cause major station damage, cause major chaos, create fires or hull breaches, release harmful gasses, spread harmful diseases, severely harm, decapitate, or murder people, trap people in places from which they cannot escape, or any other action that would be considering agonizing for other players. As a cyborg with an Asimov lawset, following this rule is mandatory towards non-human players. As a rule of thumb, don’t commit crimes worthy of capital punishment as a non-antagonist.<br><br>
        <span style="color:red">1.2: Do not greytide.</span> Do not break windows to space, electrify doors, steal important items or attack or rob random people, especially those that are AFK or braindead. Do not vandalize areas or break lights excessively. Do not block public hallways. Do not deconstruct shuttle chairs. Do not disrupt security for your own enjoyment. For antagonists, the murderboning rule applies instead.<br><br>
        <span style="color:red">1.3: If you acquire guns or magical items as a crewmember during a wizard round and you are not given any objectives by the game, do not use the given items for killing, griefing or greytiding.</span>. For people who are given objectives, the murderbone rule applies instead.<br><br>
        <span style="color:red">1.4: Do not powergame.</span> As a regular crew member, you're not an experienced soldier, nor do you know all the jobs of the station. Do not hunt down criminals as a regular crew member, that’s security’s job. Do not rush into danger without a good reason to do so. Do not collect dangerous items, weapons, rare tools "just in case". Use reasonable self-defense; do not try to kill your attacker in revenge, especially after conflict has already ended. Do not call the escape shuttle without a proper reason, and do not recall it or early-launch it needlessly. This rule does not apply to antagonists.<br><br>
        <span style="color:red">1.5: Do not metagame.</span> Your character does not know everything you do. You should not know the nature of traitor items (see the metashield guide below). This rule does not apply to antagonists.<br><br>
    </strong><br><br>
</div>
<strong style="font-size:18px">Meta-shield Quick Guide</strong>
<table align="center" border="1" cellpadding="1" cellspacing="1" style="width:400px">
    <style>
    th {
        font-size: 14px;
    }
    </style>
    <tbody>
        <tr>
            <th>Traitors</th>
            <th>Metashield on stealthy items. Items from the "stealthy" uplink categories are metashielded (glasses, masks, IDs, etc). Security are not allowed to “check” these unless they have witnessed the use of the suspicious item before. Obvious items like bombs, suspicious beacons, power sinks, or emags are not metashielded.</th>
        </tr>
        <tr>
            <th>Changeling</th>
            <th>No metashield when spotted.</th>
        </tr>
        <tr>
            <th>Revolution</th>
            <th>No metashield when spotted.</th>
        </tr>
        <tr>
            <th>Blood Cult</th>
            <th>No metashield when spotted. The AI cannot spot the cult just for seeing runes, other suspicious matters have to be detected. Security cannot spot a cult unless they confirm that the runes are not crayon. Security cannot metagame fake runes initially until an actual cult is spotted.</th>
        </tr>
        <tr>
            <th>Clockwork Cult</th>
            <th>No metashield when spotted.</th>
        </tr>
        <tr>
            <th>Gangs</th>
            <th>No metashield when spotted. Tags, crayons, & sprays are metashielded. Pens are metashielded until seen flashing.</th>
        </tr>
        <tr>
            <th>Nuclear Operatives</th>
            <th>No metashield.</th>
        </tr>
        <tr>
            <th>Wizard</th>
            <th>No metashield.</th>
        </tr>
        <tr>
            <th>Blob</th>
            <th>No metashield</th>
        </tr>
        <tr>
            <th>Nightmare</th>
            <th>No metashield.</th>
        </tr>
        <tr>
            <th>Traitor AI</th>
            <th>A blue APC is something to be concerned over but screaming 'ROGUE AI' because one is blue is disallowed. Scientists, roboticists, engineers, and security are aware that the AI can hack APCs, as are all heads of staff. Multiple blue APCs or blue APCs without prints or in secure areas are worth checking the AI over.</th>
        </tr>
        <tr>
            <th>Vampire</th>
            <th>No metashield when spotted.</th>
    </tbody>
</table><br><br>
<div style="font-size:14px">
    <strong>
        <p>Definition of 'Spotting': Blood runes, cult dagger, clockwork slabs, clockworks structures, traitor items not in the "stealthy" uplink categories, blatant and obvious changeling abilities(transformation, armblades), any blatant and obvious vampire abilties/features (deathly pale, invisiblity, hypnotism, blood sucking, etc.) revolution flashers, revolution flash hijackers, and shadowlings themselves are all valid items/objects/people to spot a certain antagonist. Until an antagonist is spotted, you may not metagame their items or abilities in order to powergame your way through detecting them before they make a mistake.</p><br><br>
        <span style="color:red">1.6: Use a realistic name.</span> Human characters should have at least a first and a last name. Obscene names or names that are similar in look or pronunciation to obscene phrases are strictly forbidden. Do not give cyborgs or bots obscene names. Avoid using famous names or names of other fictional characters. Do not include honorifics in your name. Clowns, Mimes and Wizards are somewhat exempt from this rule but are not exempt from obscene names.<br><br>
        <span style="color:red">1.7: Demonstrate Clone Memory Disorder.</span>. If your character returns from the dead via cloning or cyborgization, they should not remember anything related to their death and absolutely nothing they saw after they died. You retain your memories if you are revived by defibrillation or magic. If you get to return to a round as a different character, such as a personal AI, drone, adamantine golem, animal, space ninja, lavaland character, etc., you should not remember anything that happened before you became that new character. On the other hand, if the character had their brain removed while they were alive, as either a humanoid or cyborg, or had their soul taken with a soulstone, they retain all memories of their life.<br><br>
        <span style="color:red">1.8: Pick roles that you actually intend to play.</span>  Do not repeatedly commit suicide at roundstart when playing any job with limited slots. This may result in a ban. Assistants and tourists are exempt from this rule.<br><br>
    </strong><br><br>
</div>
<p style="text-align: center"><span style="font-size:20px"><strong>Role specific rules:</strong></span></p><br>
<div style="font-size:14px">
    <strong>
        <span style="color:goldenrod"><span style="text-decoration:underline;"><span style="font-size:16px">Antagonists</span></span></span><br><br>
        <span style="color:goldenrod">2.1.1: Do not murderbone.</span> Do not kill random people for no reason. For individual antagonists (traitors, changelings, Nanotrasen ninjas) murder is allowed if you can justify your actions with a connection to your objectives, which you must explain in detail if questioned. Nuclear teams, wizards, blobs, Syndicate ninjas, traitors with hijack and traitor AIs essentially have an objective to kill everyone and are exempt from most of the rule, however do not spawnkill/convert at Arrivals or render it uninhabitable.<br><br>
        <span style="color:goldenrod">2.1.2: Be active when playing an antagonist role.</span> If you are playing as an antagonist and you need to go AFK or offline, adminhelp to notify admins. If you know you will not be able to stay for a full round, disable the appropriate antagonist preferences.<br><br>
        <span style="color:goldenrod">2.1.3: As a team antagonist</span> (gangster, blood cultist, clockwork cultist, revolutionary, shadowling or thrall) do not attack fellow teammates or deliberately hamper the progress of the team. Listen to your superiors (head revolutionary, head gangster, shadowlings if you are thralled). Do not kill convertable crewmembers for no reason. Do not suicide or ghost during the conversion process.<br><br>
        <span style="color:goldenrod">2.1.4: Be a good abductor.</span> As an abductor, your job is to kidnap people, experiment on them and return them to the station. Therefore do not harm people, unless in self-defense, or teleport them down to a place where they have no way out. Do not loot the Armory, steal/destroy AIs or take people's IDs permanently. Your IDs operate same as the Agent IDs, so you can scan abductees IDs to gain the access with your own ID.<br><br>
        <span style="color:goldenrod">2.1.5: Assimilation hosts should not kill crew members for no reason,</span> unless they have been implanted. Vessels are non-antagonists.<br><br>
        <br><br>
        <span style="color:darkgreen"><span style="text-decoration:underline;"><span style="font-size:16px">Creatures</span></span></span><br><br>
        <span style="color:darkgreen">2.2.1 Rules still apply to creatures.</span>. If you become an animal you keep your antagonist/non-antagonist status. When not antagonist, do not use your new form's abilities to grief. This includes syndicate cyborgs. Do not split as a slime in public places.<br><br>
        <span style="color:darkgreen">2.2.2: The previous rule does not apply to victims of a staff of transformation,</span> instead they may act as the role they are transformed into. Chaos carp bolts are not included in this rule and 2.2.1 applies in such cases.<br><br>
        <br><br>
        <span style="text-decoration:underline;"><span style="font-size:16px">Asimov & Silicon Policy</span></span><br><br>
        <span style="color:cyan">2.3.1: Human harm is defined as anything that causes or will most likely cause physical harm to a living human.</span><br><br>
        <span style="color:cyan">2.3.2: What is considered a human:</span><br><br>
        <p>All beings are considered human until you are able to confirm they are non-human.</p>
    </strong>
    <table border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
            <tr>
                <td>AI / Cyborgs</td>
                <td>Not human</td>
            </tr>
            <tr>
                <td>Monkeys</td>
                <td>Not human</td>
            </tr>
            <tr>
                <td>Zombies</td>
                <td>Not human</td>
            </tr>
            <tr>
                <td>Lizards / Preternis / Phytosian / Plasmamen / Flypeople / Mothpeople</td>
                <td>Not Human</td>
            </tr>
            <tr>
                <td>Hulks</td>
                <td>Not human as long as their hulk is active</td>
            </tr>
            <tr>
                <td>Human wizards, traitors, etc.</td>
                <td>Human</td>
            </tr>
            <tr>
                <td>Catpeople (Purrbation)</td>
                <td>Human</td> <!--sadly-->
            </tr>
            <tr>
                <td>Human Shadowling Thralls</td>
                <td>Human</td>
            </tr>
            <tr>
                <td>Changelings</td>
                <td>Human until the AI or a cyborg witnesses a non-human act</td>
            </tr>
            <tr>
                <td>Vampires</td>
                <td>Not human</td>
            </tr>
        </tbody>
    </table><br><br>
    <strong>
        <span style="color:cyan">2.3.3: Self-harm based coercion</span> (e.g. “AI, open this door or I kill myself”) can be ignored. Silicons can choose whether or not to enforce self-harm (“rage cages”, voluntary sacrifice), but must stick to their decision.<br><br>
        <span style="color:cyan">2.3.4: Your silicon laws take precedence over your objectives.</span> If you are borged as an antagonist, you must obey your silicon laws and master AI above all else.<br><br>
        <br><br>
        <span style="color:violet"><span style="text-decoration:underline;"><span style="font-size:16px">Heads of Staff</span></span></span><br><br>
        <span style="color:violet">2.4.1: Captain, secure the disk!</span> This is a rule so we can jobban people who do not do it.<br><br>
        <span style="color:violet">2.4.2: Never abandon the station.</span> When playing a command role, do not leave the station z-level without taking permission from the admins first. If no admins are available, use common sense.<br><br>
        <span style="color:violet">2.4.3: Be active when playing a head of staff.</span>. If you are playing a command role and you need to go AFK, offline, suicide or leave, adminhelp to notify admins. If you know you will not be able to stay for a full round, disable the appropriate job preferences.<br><br>
        <span style="color:violet">2.4.4: Do not play as a head of a department unless you are experienced in all of the jobs in the department.</span> Major incompetence will be punished if you are a head.<br><br>
        <span style="color:violet">2.4.5: The HoP should not involve himself in security matters,</span> unless he is acting captain or an emergency forces him to. Using the disabler he spawns with for self-defense is fine, but hunting people down and arresting them is not.<br><br>
    </strong>
    <p style="text-align: center"><span style="font-size:20px"><strong>Following rules apply to non-antagonists:</strong></span></p><br>
    <strong>
        <span style="color:brown"><span style="text-decoration:underline;"><span style="font-size:16px">Security</span></span></span><br><br>
        <span style="color:brown">3.1.1: Follow <a href=https://wiki.yogstation.net/wiki/Space_Law>Space Law</a></span> Do not bucklecuff prisoners, except when conducting a search or during evacuation procedures.<br><br>
        <span style="color:brown">3.1.2: Armory is for emergencies.</span> Do not take gear from the armory without a serious reason. Do not forget to return the gear after it is no longer needed.<br><br>
        <span style="color:brown">3.1.3: Only use confiscated/contraband items in the case of extreme emergencies.</span> Confiscated items should be put inside the contraband locker or the armory/evidence lockers. Do not carry around confiscated items for personal/regular use.<br><br>
        <br><br>
        <span style="color:yellow"><span style="text-decoration:underline;"><span style="font-size:16px">Engineering & Atmospherics</span></span></span><br><br>
        <span style="color:yellow">3.2.1: Know your job.</span> If you do not know the full correct procedure to setting up the engine, do not try to set it up alone.<br><br>
        <span style="color:yellow">3.2.2: Hardsuits are for work.</span> Do not take a hardsuit unless you have work to do that requires it.<br><br>
        <span style="color:yellow">3.2.3: Do not disable harmful gas chambers at the start of the round,</span> impede AI's control over Atmospherics by placing manual valves or completely cut off mix to distro. That is considered powergaming, as you have no reason to suspect someone will tamper with Atmospherics at the start of the round.<br><br>
        <span style="color:yellow">3.2.4: Do not abuse telecommunications.</span> Do not deliberately disrupt communications or upload harmful or obscene telecoms scripts. Signal technicians are allowed to modify telecommunications, but making the messages unreadable or spamming communications is a violation of this rule.<br><br>
        <br><br>
        <span style="color:#0099ff"><span style="text-decoration:underline;"><span style="font-size:16px">Genetics</span></span></span><br><br>
        <span style="color:#0099ff">3.3.1: Do not abuse powers.</span> Do not use hulk to break walls or use telekinesis to attack people for no reason.<br><br>
        <span style="color:#0099ff">3.3.2: Do not force genetic changes.</span> Do not give powers or disabilities without the subject's consent. Do not turn people into monkeys unless specifically asked to. Do not distribute harmful injectors.<br><br>
        <br><br>
        <span style="color:purple"><span style="text-decoration:underline;"><span style="font-size:16px">Chemistry</span></span></span><br><br>
        <span style="color:purple">3.4.1: Do not carry around harmful chemicals without a good reason. Do not force or coerce people into consuming chemicals that will harm them or disrupt their round</span> (including harm caused by overdoses and addictions).<br><br>
        <span style="color:purple">3.4.2: Do not distribute chemicals with harmful intent.</span> Do not misrepresent chemicals being given to people. Do not distribute harmful chemicals. You may distribute drugs as long as they are properly labelled and pills do not contain overdoses.<br><br>
        <br><br>
        <span style="color:orangered"><span style="text-decoration:underline;"><span style="font-size:16px">Cargo</span></span></span><br><br>
        <span style="color:orangered">3.5.1: Do not order armory crates or syndicate crates without a good reason.</span><br><br>
    </strong>
    <p style="text-align: center"><span style="font-size:20px"><strong>Following rules apply to Lavaland ghost roles and ruin ghost roles:</strong></span></p><br>
    <strong>
        <span style="text-decoration:underline;"><span style="font-size:16px">Lavaland</span></span><br><br>
        <span style="color:red">4.1.1: The specific location of Mining outpost is known only to Ashwalkers.</span> The rest of the roles have little to zero knowledge of the exact location due to their isolation or hibernation within their respective spawning points.<br><br>
        <span style="color:red">4.1.2: Lavaland roles are not allowed to attack or work against their team,</span> such as luring fauna and megafauna to your companions to kill them off. Exception are the prisoners, who work each on their own accord.<br><br>
        <br><br>
        <span style="text-decoration:underline;"><span style="font-size:16px">Ashwalkers</span></span><br><br>
        <span style="color:red">4.2.1: Ashwalkers have no murderbone restrictions,</span> but must return any kills they make to their tendril as soon as possible.<br><br>
        <br><br>
        <span style="text-decoration:underline;"><span style="font-size:16px">Neutral Factions</span></span><br><br>
        <span style="color:red">4.3.1: Podpeople, Free Golems, Vets, & Beach bums are non-antagonists,</span> with all the restrictions that apply. They are allowed to defend themselves with lethal force if assaulted.<br><br>
        <br><br>
        <span style="text-decoration:underline;"><span style="font-size:16px">Prisoners</span></span><br><br>
        <span style="color:red">4.4.1: Prisoners are allowed to kill in relation to their crime.</span> Someone convicted of embezzlement is unlikely to murder all of the station for laughs, but holding someone hostage is allowed.<br><br>
        <br><br>
        <span style="text-decoration:underline;"><span style="font-size:16px">Hermit</span></span><br><br>
        <span style="color:red">4.5.1: Hermits are allowed to steal with impunity, but are otherwise non-antagonists,</span> with all the restrictions that apply.<br><br>
        <span style="color:red">4.5.2: Hermits have different introductions when they are chosen and thus different goals in their lifetime.</span> One hermit might want to flee back to the station and civilization, while the other one might want to stay as far away from NT as possible; try to play in accordance with your introduction.<br><br>
        <br><br>
        <span style="text-decoration:underline;"><span style="font-size:16px">Hotel Staff</span></span><br><br>
        <span style="color:red">4.5.3: Hotel Staff are non-antagonists,</span> with all the restrictions that apply.<br><br>
        <span style="color:red">4.5.4: Hotel Staff should not leave the hotel</span> without taking permission from the admins first. If no admins are available, use common sense.<br><br>
        <br><br>
        <span style="text-align:center">Additional guidelines</span><br><br>
        <p>Please participate in votes. Feedback is always appreciated.</p>
        <p>Set your preferences to roles you intend to play. Nobody likes suiciding crew members.</p>
        <p>If you have a question, check the wiki. If that did not help, use mentorhelp.</p>
        <p>Do not complain aobut lag. If lag happens, everyone already knows.</p>
        <p>How to ban appeal</p>
        <p>If you feel the punishment you received is not fitting the actual infraction you did, join our forums and head to the ban appeal section. To ensure your ban gets dealt with properly:</p>
        <p>1. Provide logs</p>
        <p>2. Make sure to follow rules</p>
        <p>3. Know what you did wrong and how to avoid that in the future.</p>
        <br>
        <p>Remember, if you're unsure of anything, use adminhelp.</p>
        <p>If you have any issues with this set of rules, the administrators, players, or anything else, please report it on the forums.</p>
        <p>We hope you have fun here and enjoy your stay!</p>
    </strong>
</div>
